head

  include meta

  link(rel="stylesheet", href="/styles/font-awesome/font-awesome.css")
  link(rel="stylesheet", href="/modules/normalize.css/normalize.css")
  link(rel="stylesheet", href="/styles/fonts.css")

  title Tyler+Beck - Home

  base(href="/")
