meta(charset="UTF-8")
meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
meta(name="description", content="I'm a Software engineer with a passion to create. I develop pretty much anything from desktop, web, and mobile software and love using innovative technologies.")
meta(name="keywords", content="Tyler,Beck,Interactions,Development,Functional,Design")
