script(src="/modules/core-js/client/shim.min.js")
script(src="/modules/zone.js/dist/zone.js")
script(src="/modules/reflect-metadata/Reflect.js")
script(src="/modules/systemjs/dist/system.src.js")
script(src="/scripts/loader.js")
script(src="//localhost:35729/livereload.js")
