.skill-component

  font-family: 'roboto_condensedbold'
  font-style: normal
  font-weight: normal

  > span

    display: block
    margin-bottom: 1.5rem
    margin-left: 2.5%

  .progress-container

    width: 95%
    height: 2.75rem
    border-bottom: 1px solid #777
    margin-right: auto
    margin-left: auto
    text-align: center

    .progress-bar
      height: 2.5rem
      background-color: #213f9a
      -ms-transition: all 1.2s ease
      -webkit-transition: all 1.2s ease
      -moz-transition: all 1.2s ease
      -o-transition: all 1.2s ease
      transition: all 1.2s ease
      width: 0%
