div.app-home
  include /includes/pageparts/home/about-section
  include /includes/pageparts/home/services-section
  include /includes/pageparts/home/companies-section
  include /includes/pageparts/home/connect-section
  include /includes/pageparts/home/contact-section