footer
  ul.clearfix
    li.home
      a(routerLink="/home") Home
    li.about
      a(routerLink="/about") About
    li.portfolio
      a(routerLink="/portfolio") Portfolio
    li.clients
      a(routerLink="/clients") Clients
    li.contact
      a(routerLink="/contact") Contact
  p.copyright
    | copyright &copy; 2015-2016&nbsp;
    a(routerLink="/home") tylerbeck.io