footer
  ul
    li
      a(routerLink="/home") Home
    li
      a(routerLink="/about") About
    li
      a(routerLink="/portfolio") Portfolio
    li
      a(routerLink="/clients") Clients
    li
      a(routerLink="/contact") Contact
    p
      | copyright &copy; 2015-2016
      a(routerLink="/home") tylerbeck.io