div.companies-section
  h2
    | You're in&nbsp;
    span Good Company
  ul.clearfix
    li.sony
    li.steinmart
    li.ebay
    li.petsmart
    li.reactor
  a.see-all(
    routerLink="/clients"
  ) See All
  p
    | The above companies are all places that I've done work for and you can find some examples
    | of this in my portfolio. If you have any questions about any of the pertaining clients I've
    | worked with you can send me a message below and I'll try to get back to as soon as I can!