div.connect-section.container
  h2
    | Connect with
    span Tyler + Beck
  p You can find me using these social media sites.
  ul.social-media.clearfix
    li.facebook
      span
    li.linkedin
      span
    li.twitter
      span
    li.google
      span