div.services-section.container
  h2
    strong My
    | &nbsp;Services
  ul.clearfix
    li
      span.digital-marketing
      h3
        span Digital&nbsp;
        | Marketing
      p
        | Analytics, SEO, branding, metadata, web traffic, open graph, and much more.
    li
      span.web-development
      h3
        span Web&nbsp;
        | Development
      p
        | Using the most modern technologies – I will bring your ideas to life using
        | pretty much any technology stack you'd like.
    li
      span.mobile-apps
      h3
        span Mobile&nbsp;
        | Apps
      p
        | When it comes to mobile websites or app development, I know a thing or two
        | – check out my portfolio for recent mobile work!