div(class="app-hero-section")
  div(class="app-hero-section-wrapper")
    div(class="app-hero-text")
      h1
        span.logo
        | Welcome to
        span.name Tyler + Beck
      h2
        | I'm a&nbsp;
        span Software engineer
      h2
        | I create media,&nbsp;
        span just for you
      a(
        class="app-hero-scroll-down",
        href="#content-view",
        commonAnchor
      )
